{% extends "blackhole/base.html" %}
{% load i18n %}
{% block title %}BlackHole{% endblock %}

{% block navbar %}
<div class="navbar ">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="{% url index %}">BlackHole<img src="{{ STATIC_URL }}img/Black-hole-small.png"></a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">{% trans "Statistics" %}<b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="{% url byUser %}">{% trans "By User" %}</a></li>
							<li><a tabindex="-1" href="{% url byHost %}">{% trans "By Host" %}</a></li>
						</ul></li>
				</ul>		
				<ul class="nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">{% trans "List" %}<b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="{% url listUsers %}">{% trans "Users" %}</a></li>
							<li><a tabindex="-1" href="{% url listHosts %}">{% trans "Hosts" %}</a></li>
						</ul></li>
				</ul>			
				<ul class="nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">{% trans "Logs" %}<b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="{% url findSessionLog %}">{% trans "Find Logs" %}</a></li>
						</ul></li>
				</ul>	
				<ul class="nav">				
			 	<li><a href="/blackhole/admin/" target="_blank">Admin</a></li>	
				</ul>
				<p class="navbar-text pull-right">
				{{ user.username }} <a href="{% url django.contrib.auth.views.logout %}"> Logout</a>
				</p>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="hero-unit">
<h1>BlackHole<img src="{{ STATIC_URL }}img/Black-hole.png"></h1>
<p>{% trans "Statistics Panel" %}</p>
</div>
{% endblock %}

